.TaskStyles{
    font-size: 23px;
    line-height: 55px;
    span {
      line-height: 55px;
      font-size: 23px;
    } 
    br {
      line-height: 55px;
      font-size: 23px;
    }

    tr {
        th {
            border-left: 5px solid white;
        }
    } 
}

.disbleTh {
  tr {
    th {
        border-left: 0px solid white !important;
    }
  } 
  border-left: 0px solid white !important; 
}
.input-sizer {
  display: inline-grid;
  vertical-align: top;
  align-items: center;
  position: relative;
  border: solid 1px #D0D0D0;
  padding: 0.25em 0.5em;
  border-radius: 5px;
  margin: 5px;
  box-sizing: border-box;
  /* Adjust the box-sizing property */

  &.stacked {
    padding: 0.5em;
    align-items: stretch;

    &::after,
    input,
    textarea {
      grid-area: 2 / 1;
    }
  }

  &::after,
  input,
  textarea {
    width: auto;
    min-width: 1em;
    height: auto;
    /* Set height to auto */
    grid-area: 1 / 2;
    font: inherit;
    padding: 0.25em;
    margin: 0;
    resize: none;
    background: none;
    appearance: none;
    border: none;
    overflow: hidden;
    /* Hide overflow content */
    box-sizing: border-box;
    /* Adjust the box-sizing property */
  }

  span {
    padding: 0.25em;
  }

  &::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre-wrap;
  }

  &:focus-within {


    textarea:focus,
    input:focus {
      outline: none;
    }
  }
}